[
  {"qsn": "1.jpg", "answer": "Agra"},
  {"qsn": "2.jpg", "answer": "Agra"},
  {"qsn": "3.jpg", "answer": "Agra"},
  {"qsn": "4.jpg", "answer": "Agra"},
  {"qsn": "5.jpg", "answer": "Agra"},
  {"qsn": "6.jpg", "answer": "Agra"}
]